<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>INDEX</title>
	</head>
<body>
		<table>
			<thead>
				<tr id="test">
					<th>ID</th>
					<th>名前</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<td>--------------IDが3以下------------------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id <= 3}">
						<td th:text="${a.id}"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>--------------ここからはIDが4以上で、5以下(4だけドラッグ可能)------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id >= 4 && a.id <= 5}">
						<td th:text="${a.id}" draggable="true" id="dragArea"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>--------------ここからはIDが6以上------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id >= 6}">
						<td th:text="${a.id}"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>--------------全てを表示------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tbody  id="list">
						<tr th:each="a:${list}">
							<td th:text="${a.id}" class="dragAreaClass"></td>
							<td th:text="${a.name}"></td>
						</tr>
					</tbody>
				</tbody>
		</table>
		<div>
			<form>
				<textarea id="dropArea">
				</textarea>
			</form>
		</div>
		<!--changeTextColorメソッドを呼び出す-->
		<button onclick = "changeTextColor();">Change Color</button>
	</body>
<script type="text/javascript" th:inline="javascript">
	var firstClick = true;
	/* ボタンを押すたびに文字の色が変化する。 */
	function changeTextColor() {
		if(firstClick){
			document.getElementById("test").style.color = 'yellow';	
			firstClick = false;
		} else {
			document.getElementById("test").style.color = 'black';
			firstClick = true;
		}
	}
	
	var item = document.getElementById("list").childElementCount;
	console.log(item);
	var dragObject = document.getElementById("dragArea");
	var dropObject = document.getElementById("dropArea"); 
	
	dragObject.addEventListener("dragstart", function(evt){
		evt.dataTransfer.setData("text/plain", evt.target.textContent);
		evt.stopPropagation();
	}, false);

	dropObject.addEventListener("drop", function(evt){
		var dropText = evt.dataTransfer.getData("text/plain");
		dropObject.innerHTML = dropText;
		evt.preventDefault();
	},false);
	
	dropObject.addEventListener("dragover", function(evt){
		evt.preventDefault();
	}, false);
	
	dropObject.addEventListener("dragenter", function(evt){
		evt.preventDefault();
	}, false);
	
	
	var testId = "testId";
	var tmp = document.getElementsByClassName("dragAreaClass");
	console.log(tmp);
	for(var i=0; i<=tmp.length-1; i++){
		tmp[i].setAttribute("id", testId+i);
	}
	
	</script>
</html>