<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>INDEX</title>
	</head>
<script type="text/javascript" th:inline="javascript">
	var firstClick = true;
	/* ボタンを押すたびに文字の色が変化する。 */
	function changeTextColor() {
		if(firstClick){
			document.getElementById("test").style.color = 'yellow';	
			firstClick = false;
		} else {
			document.getElementById("test").style.color = 'black';
			firstClick = true;
		}
	}
</script>
<body>
		<table>
			<thead>
				<tr id="test">
					<th>ID</th>
					<th>名前</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<td>--------------IDが3以下------------------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id <= 3}">
						<td th:text="${a.id}"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>--------------ここからはIDが4以上で、5以下------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id >= 4 && a.id <= 5}">
						<td th:text="${a.id}"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>--------------ここからはIDが6以上------------------------------</td>
					</tr>
					<!-- IDが3以下のオブジェクトを表示 -->
					<tr th:each="a:${list}" th:if="${a.id >= 6}">
						<td th:text="${a.id}"></td>
						<td th:text="${a.name}"></td>
					</tr>
				</tbody>
		</table>
		<!--changeTextColorメソッドを呼び出す-->
		<button onclick = "changeTextColor();">Change Color</button>
	</body>
</html>